# dependencies
node_modules

# next.js
.next/
out/

# production
build

# env files (inject via Dokploy at runtime)
.env*

# debug
.pnpm-debug.log*

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
