efn.tahyrhussayn.online {
	# Enable compression (gzip & zstd)
	encode zstd gzip

	# Security Headers
	header {
		# Disable FLoC tracking
		Permissions-Policy "interest-cohort=()"
		# Enable HSTS (1 year)
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		# Prevent clickjacking
		X-Frame-Options "DENY"
		# Prevent MIME sniffing
		X-Content-Type-Options "nosniff"
		# Referrer policy
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy app:3000
	tls /etc/caddy/certs/origin.pem /etc/caddy/certs/origin.key
}

monitor.efn.tahyrhussayn.online {
	# Enable compression
	encode zstd gzip

	# Basic Auth protection for monitoring panel
	basic_auth {
		tahirhussain5112 $2a$14$jKyEvo3TnSUWBjZkKZSaNeNPBpvgr/PkvImKleNpyKoHE3EEgh5Oq
	}

	reverse_proxy netdata:19999
}
